.column_container {
    flex-direction: column;
    display: flex;
}

.row_container {
    flex-direction: row;
    display: flex;
}

.button {
    margin: 8px;
}

.input {
    margin: 8px;
    height: 10px;
}

.select {
    margin: 8px;
    height: 10px;
}

.txt {
    margin: 8px;
    height: 10px;
}

.background_panel {
    margin: 8px;
    padding: 8px;
    width: 550px;
    border: solid;
    border-radius: 5px;
    background-color: aliceblue;
}

.header {
    text-align: center;
}