<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Изменение записи персонале</title>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<div class="background_panel">
  <div class="header"><h3>Изменение записи о персонале</h3></div>
  <form action="/avo/ups/create" th:object="${ups}" method="post">
    <div class="row_container">
      <div class="column_container">
        <div class="txt">Корпус:</div>
        <div class="txt">Кабинет:</div>
      </div>
      <div class="column_container">
        <div class="input"><input type="text" value="ФЭТ"></div>
        <div class="input"><input type="text" value="401"></div>
      </div>
    </div>
    <div><input class="button" type="submit" value="Изменить запись"/></div>
  </form>
  <div>
    <form action="/avo" th:object="${ups}" method="get">
      <input class="button" type="submit" value="Назад">
    </form>
  </div>
</div>
</body>

</html>