<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Учёт ИБП</title>
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>

    <body>
        <div class="background_panel">
            <div class="header"><h3>Выберите действие по учёту ИБП</h3></div>
            <div class="row_container">

                <div class="column_container">
                    <form action="" method="get">
                        <div class="button"><input type="submit" value="Вывести полный список ИБП"/></div>
                    </form>
                    <form action="" method="get">
                        <div class="button"><input type="submit" value="Вывести полный список персонала"/></div>
                    </form>
                    <form action="" method="get">
                        <div class="button"><input type="submit" value="Вывести полный список местоположений"/></div>
                    </form>
                </div>

                <div class="column_container">
                    <form action="/avo/ups/create" method="get">
                        <div class="button"><input type="submit" value="Добавить ИБП"/></div>
                    </form>
                    <form action="/avo/person/create" method="get">
                        <div class="button"><input type="submit" value="Добавить персонал"/></div>
                    </form>
                    <form action="/avo/location/create" method="get">
                        <div class="button"><input type="submit" value="Добавить местоположение"/></div>
                    </form>
                    <form action="/avo/info" method="get">
                        <div class="button"><input type="submit" value="Информация об авторе"/></div>
                    </form>
                    <form action="/avo/info" method="get">
                        <div class="button"><input type="submit" value="Руководство пользователя"/></div>
                    </form>
                </div>
            </div>
        </div>

    </body>

</html>