<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список местоположений</title>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<div class="background_panel">
  <h1>Список местоположений</h1>
  <input type="text" style="margin-bottom: 10px" placeholder="Поиск">
  <table class="table">
    <tr>
      <th><input type="button" style="height: 100%; width: 100%" value="Корпус"></th>
      <th><input type="button" style="height: 100%; width: 100%" value="Кабинет"></th>
      <th></th>
    </tr>
    <tr>
      <td>ФЭТ</td>
      <td>201</td>
      <td><input type="button" style="width: 100%" value="Удалить"></td>
    </tr>
    <tr>
      <td>ФЭТ</td>
      <td>301</td>
      <td><input type="button" style="width: 100%" value="Удалить"></td>
    </tr>
    <tr>
      <td>ФЭТ</td>
      <td>401</td>
      <td><input type="button" style="width: 100%" value="Удалить"></td>
    </tr>




  </table>
</div>
</body>
</html>