<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список ИБП</title>
</head>
<body>
<h1>Список ИБП</h1>
<table>
  <tr>
    <th>Название</th>
    <th>Производитель</th>
    <th>Мощность</th>
    <th>Максимальный срок работы</th>
    <th>Ответственное лицо</th>
    <th>Местоположение</th>
    <th>Дата ввода в эксплуатацию</th>
    <th>Статус эксплуатации</th>
    <th>Состояние</th>
    <th>Период амортизации</th>
    <th>Дата регистрации</th>
    <th>Дата списания</th>
  </tr>
  <tr>
    <td>UT650EG</td>
    <td>CyberPower</td>
    <td>14</td>
    <td>4</td>
    <td>Юрий Гриценко Борисович</td>
    <td>СКЛАД</td>
    <td>-</td>
    <td>на складе</td>
    <td>работает</td>
    <td>5</td>
    <td>2022-07-12</td>
    <td>-</td>
  </tr>
  <tr>
    <td>CYBERPOWER UTC650E</td>
    <td>CyberPower</td>
    <td>14</td>
    <td>4</td>
    <td>Александр Суханов Яковлевич</td>
    <td>401 кабинет ФЭТ</td>
    <td>2022-09-12</td>
    <td>эксплуатируется</td>
    <td>работает</td>
    <td>5</td>
    <td>2022-07-12</td>
    <td>-</td>
  </tr>
</table>
</body>
</html>