<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список персонала</title>
  <link href="style.css" rel="stylesheet">
</head>

<body>
<div class="background_panel">
  <h1>Список персонала</h1>
  <input type="text" style="margin-bottom: 10px" placeholder="Поиск">
  <table class="table">
    <tr>
      <th><input type="button" style="height: 100%; width: 100%" value="Имя"></th>
      <th><input type="button" style="height: 100%; width: 100%" value="Фамилия"></th>
      <th><input type="button" style="height: 100%; width: 100%" value="Отчество"></th>
      <th><input type="button" style="height: 100%; width: 100%" value="Должность"></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Юрий</td>
      <td>Гриценко</td>
      <td>Борисович</td>
      <td>Доцент</td>
      <td><input type="button" style="width: 100%" value="Изменить"></td>
      <td><input type="button" style="width: 100%" value="Удалить"></td>
    </tr>
    <tr>
      <td>Александр</td>
      <td>Суханов</td>
      <td>Яковлевич</td>
      <td>Доцент</td>
      <td><input type="button" style="width: 100%" value="Изменить"></td>
      <td><input type="button" style="width: 100%" value="Удалить"></td>
    </tr>
    <tr>
      <td>Анна</td>
      <td>Исакова</td>
      <td>Ивановна</td>
      <td>Доцент</td>
      <td><input type="button" style="width: 100%" value="Изменить"></td>
      <td><input type="button" style="width: 100%" value="Удалить"></td>
    </tr>
  </table>
</div>
</body>
</html>