<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список ИБП</title>
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <div class="background_panel">
    <h1>Список ИБП</h1>
    <input type="text" style="margin-bottom: 10px" placeholder="Поиск">
    <table class="table">
      <tr>
        <th><input type="button" style="height: 100%; width: 100%" value="Название"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Производитель"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Мощность"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Максимальный срок работы"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Ответственное лицо"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Местоположение"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Дата ввода в эксплуатацию"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Статус эксплуатации"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Состояние"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Период амортизации"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Дата регистрации"></th>
        <th><input type="button" style="height: 100%; width: 100%" value="Дата списания"></th>
        <th></th>
      </tr>
      <tr>
        <td>UT650EG</td>
        <td>CyberPower</td>
        <td>14</td>
        <td>4</td>
        <td>Юрий Гриценко Борисович</td>
        <td>СКЛАД</td>
        <td>-</td>
        <td>на складе</td>
        <td>работает</td>
        <td>5</td>
        <td>2022-07-12</td>
        <td>-</td>
        <td><input type="button" value="Изменить"></td>
      </tr>
      <tr>
        <td>CYBERPOWER UTC650E</td>
        <td>CyberPower</td>
        <td>14</td>
        <td>4</td>
        <td>Александр Суханов Яковлевич</td>
        <td>401 кабинет ФЭТ</td>
        <td>2022-09-12</td>
        <td>эксплуатируется</td>
        <td>работает</td>
        <td>5</td>
        <td>2022-07-12</td>
        <td>-</td>
        <td><input type="button" value="Изменить"></td>
      </tr>
    </table>
  </div>
</body>
</html>